body {
    background-color: #eeeeee;
}

h1 {
    color: purple;
    font-family: Verdana;
    text-align: center;
}

input {
    width: 100%;
}

#buttonindex{
    background-color: purple;
    color: #ffffff;
    margin-right: 0px;
    float:right;
    display:block;
    clear:left;
}

#buttonuser{
    background-color: purple;
    color: #ffffff;
    width: 250px;
    padding: 14px 40px;
    display: block;
}

textarea{
    width: 100%;
}

article{
    background-color: white;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 80px;
    max-width:400px;
    margin: 20px auto;
}

#indexdiv{
    background-color: white;
    width: 300px;
    border: 2px solid gray;
    padding: 50px;
    margin: 100px auto;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr{
    text-align: center;
}

th {
    height: 50px;
}

section{
    background-color: white;
    width: 500px;
    border: 1px solid gray;
    padding: 80px;
    margin: 50px auto;
}



div{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}


