body {
    background-color: #eeeeee;
}

h1 {
    color: purple;
    font-family: Verdana;
    text-align: center;
}

input {
    width: 100%;
}



#frm{
    background-color: white;
    border: solid gray 1px;
    width: 20px;
    border-radius: 5px;
    margin: 100px auto;
    padding: 50px;
}

#btn{
    color: #fff;
    background: purple;
    padding: 5px;
    margin-left: 69%;
}