#body {
    background: #eee;
}

#btn {
    border: hotpink 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}

#submit {
    color: orange;
    background: purple;
    padding: 5px;
    margin-left: 60%;
}
#heading{
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
}