body {
    background-color: #eeeeee;
}

h1 {
    color: purple;
    font-family: Verdana;
    text-align: center;
}

input {
    width: 100%;
}

button{
    background-color: purple;
    color: #ffffff;
    margin-right: auto;
}
textarea{
    width: 100%;
}

article{
    background-color: white;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 80px;
    max-width:400px;
    margin: 20px auto;
}

section{
    text-align: center;
    background-color: white;
}


nav{
    /*background-color: purple;
    color: #ffffff; */
}


div {
    background-color: white;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 50px;
    max-width:250px;
    margin: 100px auto;
 }

#btn{
    color: #fff;
    background: purple;
    padding: 5px;
    margin-left: 69%;
}