 body{
    background:#eeeeee;
 }

 #frm{
    border:solid gray;
    width: 20%;
    border-radius: 5px;
    margin: 100% auto;
    background: white;
    padding: 50px;
 }

 #btn{
    color: #ffffff;
    background: purple;
    padding: 5px;
    margin-left: 69%;
 }